@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway:wght@400;500;700&family=Roboto:wght@100;400;700&display=swap');

/*=======================Global elems=========================*/

body{
    font-family: 'Raleway';
    font-size: 14px;
    color: #8c8c8c;
    font-weight: 500;
}

.container{
	width: 100%;
	max-width: 1200px;
    margin: 0 auto;
}

.gray{
    color: #959595;
}

hr{
    color: #fff;
    width: 100%;
    height: 1px;
}


/* Info */

.info-wrapper{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.title{
    font-size: 22px;
    color: #555555; 
    letter-spacing: 0.5px; 
}

.text{
    color: #8c8c8c;
    margin-top: 15px;
    line-height: 24px;
}

/* Buttons */

.btn{
    padding: 15px 30px; 
    border-radius: 3px;
    background-color: #998675;
    color: white;
    position: relative;
    font-size: 14px;
}

.btn::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #736357;
    border-radius: 0 0 3px 3px;
}

/*============================Header============================*/

header{
    width: 100%;
    height: 100vh;
    background: url("/images/intro1.png") top left/cover no-repeat;
    color: white;
    padding: 70px 0;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.logo{
    position: relative;
    bottom: 25px;
}

.logo p{
    position: absolute;
    top: 10px;
    left: 70px;
    font-size: 32px;
}

.menu{
    flex: 0 0 65%;
}

a{
    color: white;
    padding: 0 10px;
}

.cart, .loop{
    display: inline;
    padding-left: 40px;
    position: relative;
    bottom: 5px;
}

.loop{
    padding-left: 20px; 
}

.intro-content button{
    margin-top: 40px;
}

.intro-content{
    margin: 15vh auto;
    max-width: 560px;
    text-align: center;
    font-family: 'Roboto';
}

.intro__title{
    margin: 20px 0;
    font-size: 46px;
    font-weight: bold;
}

.desc{
    line-height: 20px;
    font-size: 14px;
}

.suptitle{
    font-size: 35px;
}

.leftintro, .rightintro{
    position: absolute;
    top: 43vh;
}

.leftintro{
    left: 15vh;
}

.rightintro{
    right: 15vh;
}

/*============================Services============================*/

#services{
    padding: 90px 0;
}

.service{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.service-item{
    flex: 0 0 23%;
    text-align: center;
    position: relative;
}

.service__icon{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.service__title{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #555555;
}

.service-item::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -30px;
    left: 36%;
    width: 72px;
    height: 2px; 
    background-color: #f1eee9;
}

/*============================Ideas============================*/

#ideas{
    height: 690px;
    padding-top: 80px;
    position: relative;
}

.bleft, .bcenter, .bright{
    position: absolute;
    bottom: 0;
}

.bleft{
    left: 10%;
}

.bcenter{
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.bright{
    right: 10%;
}

/*============================Theme============================*/

#theme{
    height: 150px;
    background: url("/images/bgr.jpg") top left/cover no-repeat;
    padding: 50px 0;
}

.theme-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.theme-info{
    color: #fff;
    font-size: 20px;
}

.theme-info-sub{
    line-height: 24px;
}

/*===========================Projects==========================*/

#projects{
    padding: 80px 0;
}

.projects-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-filter__item{
    padding: 5px 20px;
    color: #8c8c8c;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.project-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-items__item{
    margin: 0 14px 28px 14px;
}

.projects-wrapper button{
    margin-top: 40px;
}

.project-items__info{
    height: 100px;
    padding: 36px 30px;
    position: relative;
    background-color: #fbfaf8;
}

.project-items__info::before{
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 15px;
    width: 0; 
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
}

.project-items__title{
    color: #c7b299;
    font-size: 20px;
}

.project-items__subtitle{
    line-height: 28px;
}

/*============================Video===========================*/

/*==========================Mobile===========================*/

#mobile{
    padding-top: 80px;
}

.mobile-info{
    max-width: 660px;
}

.mobile-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.accordion{
    margin-top: 15px;
    position: relative;
    left: 100px;
}

.arrow{
    position: relative;
    top: 17px;
    left: -50px;
}

/*==========================Conuters========================*/

#counters{
    padding: 70px 0 90px 0;
    background: url("/images/bgr2.png") 0 0/cover no-repeat;
}

.counters-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.counters-item{
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.counters__num{
    font-family: 'Roboto';
    color: #fff;
    font-size: 48px;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 20px;
}

.counters__caption{
    color: #c7b299;
    position: relative;
}

.counters__caption::after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 30px;
    height: 2px;
    background-color: #fff;
}

/*=========================Posts=========================*/

#post{
    padding: 80px 0;
}

.post-wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.post-items{
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-item{
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.post__info{
    padding: 30px;
}

.readmore{
    margin-top: 20px;
    color: #c7b299;
}

.togglers{
    margin: 0 auto;
}

/*==========================Partners========================*/

#partners{
    background: url("/images/partner.jpg") 0 0/cover no-repeat;
    height: 500px;
    padding: 140px 0;
}

#partners img{
    display: block;
}

.partners-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

/*============================Footer==========================*/

#prefooter{
    padding: 130px 0 80px 0;
    background-color: #191919;
}

.prefooter-wrapper{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.prefooter-item{
    flex: 0 0 23%;
    margin: 0 15px;
}

.prefooter-item:last-child{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.prefootertxt{
    line-height: 24px;
}

.prefooterm{
    margin-top: 25px;
    color: white;
}

.prefooter__title{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
} 

.prefooter-post{
    position: relative;
    margin-bottom: 30px;
}

.prefooter-post::after{
    content: "";
    display: block;
    background-color: #252525;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -23px;
    left: 0;
}

.post__time{
    margin-bottom: 14px;
    color: #363636;
}

.date{
    color: #363636;
    margin-top: 15px;
    margin-bottom: 40px;
}

.twit{
    position: relative;
}

.twit::after{
    content: "";
    display: block;
    background-color: #252525;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.widget{   
    margin-bottom: 18px;
}


#footer{
    background-color: #111111;
    padding: 40px 0 50px 0;
    color: #555555;
    font-family: "Roboto";
}

.footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer a{
    margin-left: 10px;
    color: #555555;
}